.tools-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  input {
    width: 70%;
    height: 26px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    font-size: 22px;
    padding: 5px;
    padding-left: 30px;
    &:focus {
      font-size: 22px;
      //width: calc(100vw - 24px);
      margin: 0;
      border-radius: 3px;
      box-shadow: 1px 1px 3px 1px rgb(33, 145, 189);
    }
  }
}
