.home-wrapper {
  //background: none;
  overflow-y:hidden;
  height: calc(100vh - 64px);
}
.lyrics-list-wrapper {
  height: calc(100vh - 56px - 46px);
  overflow-y: scroll;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 5px 0;
  }
  .list-item {
    font-size: 16px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    &:hover {
      border-radius: 5px;
      cursor: pointer;
    }
    .line{
      display: flex;
      flex-direction: row;
    }
    .line-id{
      width: 15px;
      text-align: right;
      margin-right: 7px;
    }
    .line-name{
      width: 280px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.light{
  mat-card{
    background: white;
    color: black;
    border: 1px none rgba(255, 207, 10, 0.5);
    border-bottom-style: solid;
    &:hover{
      background: rgba(255, 207, 10, 0.5);
    }
  }
}

.green{
  mat-card{
    background: white;
    color: black;
    border: 1px none rgba(0, 100, 0, 0.5);
    border-bottom-style: solid;
    &:hover{
      background: rgba(0, 100, 0, 0.5);
    }
  }
}

.dark{
  mat-card{
    border: 1px none rgba(33, 145, 189, 0.5);
    border-bottom-style: solid;
    background: #424242;
    color: white;
    &:hover{
      background: rgba(33, 145, 189, 0.5);
    }
  }
}


