<div class="home-wrapper" >
  <app-search-home (changeSearch)="setSearch($event)" (changeTagFilter)="setTagsFilter($event)"></app-search-home>
  <div class="lyrics-list-wrapper" [appTheme]="theme">
    <div *ngIf="lyricsList.length; else loading">
      <ul>
        <ng-container *ngFor="let lyric of (lyricsList | searchFilter: searchTerm | tagFilter: tagFilter)">
          <li>
            <mat-card class="list-item" routerLink="/lyrics/{{lyric.id}}">
              <div class="line">
                <div class="line-id">{{lyric.id}}</div>
                <div class="line-name"> {{lyric.name}}</div>
              </div>
            </mat-card>
          </li>
        </ng-container>
      </ul>
    </div>
    <ng-template #loading>
      <div class="loading">
        <img src="../../../../assets/icons/common/loading.png" alt="loading...">
      </div>
    </ng-template>
  </div>
</div>

