<div class="home-wrapper" >
  <div class="finder">
    <input [(ngModel)]="searchTerm" id="Search" name="Search" type="search" placeholder="Search..." autocomplete="off">
  </div>

  <div class="lyrics-list-wrapper" [ngClass]="{
    lightList: theme === 'light',
    darkList: theme === 'dark',
    greenList: theme === 'green'
  }">
    <div *ngIf="lyricsList.length; else loading">
      <ul>
        <ng-container *ngFor="let lyric of (lyricsList | searchFilter: searchTerm )">
          <li>
            <mat-card class="list-item" routerLink="/lyrics/{{lyric.id}}">
              <div>
                <span>{{lyric.id}}</span>
                {{lyric.name}}
              </div>
            </mat-card>
          </li>
        </ng-container>
      </ul>
    </div>
    <ng-template #loading>
      <div class="loading">
        <img src="../../../../assets/icons/common/loading.png" alt="loading...">
      </div>
    </ng-template>
  </div>
</div>

