wrapper{
  height: 100%;
}

.lyrics-wrapper{
  padding-left: 0;
  list-style: none;

  &-dark{
    color: rgba(245, 245, 245, 0.95);
    background: #333333;
  }

  &-light{
    color: black;
    background: ghostwhite;
  }

  &-green{
    color: black;
    background: ghostwhite;
  }

  ul {
    padding-left: 15px;
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
    }
  }
}
