.options-wrapper{
  box-shadow: 2px 2px 5px 0 rgba(27,87,27,0.15);
  display: flex;
  justify-content: flex-end;

  dark{
    //color: rgba(245, 245, 245, 1);
    color: rgb(3, 169, 244);
    background: #333333;
    border: 1px none rgba(3, 169, 244, 0.5);
    border-bottom-style: solid;
  }

  light{
    color: black;
    background: ghostwhite;
    border: 1px none rgba(239, 200, 7, 0.5);
    border-bottom-style: solid;
  }

  green{
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border: 1px none rgba(81, 188, 234, 0.5);
    border-bottom-style: solid;
  }
}
