<div class="main-container" [appTheme]="theme">
  <mat-toolbar [ngClass]="{
  lightToolbar: theme === 'light',
  darkToolbar: theme === 'dark',
  greenToolbar: theme === 'green'
  }">
    <div style="padding-top: 5px;">
      <button mat-icon-button *ngIf="!toggle">
        <img src="../../../../assets/icons/common/icon-audiobook.png"
             (click)="drawer.open(); setToggle()"
             [@fadeInOut]="animationState"
             width="30" height="30" >
      </button>
      <button mat-icon-button *ngIf="toggle" >
        <img src="../../../../assets/icons/common/cancel.png"
             (click)="drawer.close(); setToggle()"

             width="30" height="30">
      </button>
    </div>
    <div class="nav-bar" style="padding-top: 5px;">
      <span mat-button style="font-weight: bold;"
            routerLink="/" (click)="drawer.close(); "
            [@fadeInOut]="animationState"
            class="text-animation"
      >LYRICS</span>

      <span style="display: flex;">
        <span *ngIf="showRandom" style="margin-right: 5px;">
          {{max}}
        </span>
        <img src="../../../../assets/icons/common/icon-sound-wave.png"
             [@fadeInOut]="animationState"
             width="32" height="32" (click)="getRandomInt()">
      </span>
    </div>
  </mat-toolbar>
  <mat-drawer-container
    class="mat-drawer-container-wrapper"
    autosize (backdropClick)="closeSidebar();"
    (keydown.escape)="closeSidebar();"
  >
    <mat-drawer #drawer class="sidebar"
                mode="over"
                (blur)="closeSidebar();"
                disableClose
                appFocus
                [appTheme]="theme"
    >
      <mat-list (click)="drawer.close();setToggle()">
        <div class="common-panel">
          <mat-list-item routerLink="/" class="toolbar-item" >
            <img src="../../../../assets/icons/common/icon-audiobook.png" width="30" height="30" alt="book">
          </mat-list-item>
          <mat-list-item routerLink="settings" class="toolbar-item">
            <img src="../../../../assets/icons/common/icon-configuration-64x64.png" width="30" height="30" alt="config">
          </mat-list-item>
        </div>
        <div class="vip-panel">
          <mat-list-item routerLink="admin" class="toolbar-item" >
            <img src="../../../../assets/icons/common/icon-work-station.png" width="30" height="30" alt="admin">
          </mat-list-item>
        </div>
      </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>


