<div class="main-container" [ngClass]="{
  light: theme === 'light',
  dark: theme === 'dark',
  green: theme === 'green'
}">
  <mat-toolbar [ngClass]="{
  lightToolbar: theme === 'light',
  darkToolbar: theme === 'dark',
  greenToolbar: theme === 'green'
  }">
    <div >
      <button mat-icon-button>
        <mat-icon (click)="drawer.open()">menu</mat-icon>
      </button>
    </div>
    <div class="nav-bar">
      <span mat-button style="font-weight: bold;" routerLink="/" (click)="drawer.close()"> LYRICS</span>
      <span style="display: flex;"><img src="assets/icon-cassette.png" width="38" height="38" style="border-radius: 2px;" alt="lorem"></span>
    </div>


  </mat-toolbar>
  <mat-drawer-container
    class="mat-drawer-container-wrapper"
    autosize (backdropClick)="closeSidebar()"
    (keydown.escape)="closeSidebar()"
  >
    <mat-drawer #drawer class="sidebar"
                mode="over"
                (blur)="closeSidebar()"
                disableClose
                appFocus
    >
      <mat-list (click)="drawer.close()">
<!--        <mat-list-item class="toolbar-item" autosize>-->
<!--          <mat-icon>arrow_back_ios</mat-icon>-->
<!--        </mat-list-item>-->
        <mat-list-item routerLink="/" routerLinkActive="active" class="toolbar-item" autosize>
<!--          <mat-icon>queue_music</mat-icon>-->
          <img src="assets/icon-audiobook.png" width="30" height="30" alt="lorem">
        </mat-list-item>
        <mat-list-item routerLink="admin" routerLinkActive="active" class="toolbar-item" autosize>
<!--          <mat-icon>account_circle</mat-icon>-->
          <img src="assets/icon-work-station.png" width="30" height="30" alt="lorem">
        </mat-list-item>
        <mat-list-item routerLink="settings" routerLinkActive="active" class="toolbar-item" autosize
                       routerLinkActive="active">
<!--          <mat-icon>settings</mat-icon>-->
          <img src="assets/icon-configuration.png" width="30" height="30" alt="lorem">
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>


