// colors
//#303030;

.main-container{
  margin: 0 auto;
  font-family: gilroy;
  height: 100vh;
  overflow: hidden;
  background: ghostwhite;
}

.mat-drawer-container-wrapper{
  height: 93.5%;
  background: none;
  color: black;
}

mat-list-item.toolbar-item{
  cursor: pointer;
  font-weight: bold;
}

mat-list-item.toolbar-item:hover{
  font-size: larger;
  background: rgba(211, 211, 211, 0.93);
  //color: rgba(239, 200, 7, 0.75);
  color: rgba(33, 145, 189, 0.35);
}

.nav-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.light{
  background: ghostwhite;
  color: black;
}

.green{
  background: ghostwhite;
  color: black;
}

.dark{
  background: #333333;
  color: white;
}

.lightToolbar{
  background: black;
  color: white;
}

.darkToolbar{
  background: black;
  color: white;
}

.greenToolbar{
  background: rgb(27, 87, 27);
  color: white;
}

mat-list{
  padding-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.text-animation{
  font-family: 'Comic Sans MS';
  text-transform: uppercase;
  background-image: linear-gradient(to right, #000000 3%, #ffffff 15%, #ffffff 75%,  #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  //animation: animatedText 4s infinite reverse;

  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animatedText;
}

@keyframes animatedText{
  to{
    background-position: 100%;
  }
}


