<div class="finder">
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>filter_list</mat-icon></button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="tags">Tags</button>
  </mat-menu>
  <mat-menu #tags="matMenu">
    <mat-selection-list #genres [(ngModel)]="tagFilter">
      <mat-list-option *ngFor="let genre of genreList"
                       [value]="genre"
                       (click)="$event.stopPropagation();getTags($event.target)"
      >
        {{genre}}
      </mat-list-option>
    </mat-selection-list>
  </mat-menu>
  <input  id="Search"
          name="Search"
          type="search"
          placeholder="Search..."
          autocomplete="off"
          (input)="getSearch($event.target)"
          [(ngModel)]="search"
  >
  <button mat-icon-button><mat-icon>search</mat-icon></button>
</div>
