<div class="form-wrapper">
  <form [formGroup]="form" (submit)="selectLyrics()">
    <div class="form-header-wrapper">
      <label >Title</label>
      <input formControlName="name" placeholder="Lyrics Title">
      <label>Tonality</label>
      <input formControlName="tonality" placeholder="Tonality">
      <label>Comment</label>
      <input formControlName="comment" placeholder="Comment">
    </div>
    <mat-form-field>
      <mat-label>genres</mat-label>
      <mat-select formControlName="tags" multiple>
        <mat-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="text-wrapper">
      <span>
        <mat-icon type="button" (click)="addItemControl()" class="btn-add" title="Add New Item">add</mat-icon>
        add item
      </span>
      <ul formArrayName="items" class="">
        <li *ngFor="let item of getItems(); let index = index">
          <div [formGroupName]="index" class="item-form-wrapper">
            <div>
              <mat-form-field>
                <mat-select formControlName="name">
                  <mat-option *ngFor="let name of itemNameList" [value]="name">{{name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-icon type="button" (click)="removeItemControl(index)" class="btn-close">close</mat-icon>
            </div>
            <div>
              <ol formArrayName="lines" class="item-couple-lines-wrapper">
                <span>
                  <mat-icon type="button" (click)="addLineControl(index)" class="btn-add" title="Add New Item">add</mat-icon>
                  add line
                </span>
                <li *ngFor="let line of getLines(index); let index1 = index" >
                  <div formGroupName="{{index1}}" >
                    <mat-icon type="button" (click)="removeLinesControl(index, index1)" class="btn-close">close</mat-icon>
                    <div class="item-couple-lines">
                      <input formControlName="chords" class="text-line chords-line" placeholder="input chords">
                      <input formControlName="text" class="text-line"
                             style="color: rgba(0,0,0,0.76); font-style: italic"
                             placeholder="input text">
                    </div>
                  </div>
                </li>
              </ol>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div style="display: flex;
                justify-content: flex-end;">
      <button mat-stroked-button type="submit" class="btn btn-common"> Save Lyrics</button>
    </div>

  </form>
</div>
